:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}


* {
  scroll-behavior: smooth;
  margin: 0;
  border: 0;
  overflow-x: hidden ;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.container-fluid{
  padding: 15px 15px 15px 15px;
  text-align:center !important;
  font-weight:600;
  color: #ffffff;
  /* background-color: #003480;*/
   background-color: #042c71;
  display: flex;
}

.Logos img{
  width: 69px;
  height: 69px;
  margin: 10px;
}

.page-title{
  padding-left: 230px;
  padding-top: 10px;
  font-size: 16px;
}

.Logos-f img{
  width: 69px;
  height: 69px;
  margin: 10px;
  padding-left: 350px;
}

.logind{
  background-color: #008778;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  padding-top: 10px;
  margin-top: 25px;
  margin-left: 10px;
}

.logind a{
  color: aliceblue;
  text-decoration:none; 
  cursor:pointer; 
  font-size: small;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.logind a:hover{
  transform: scale(1.2);
}

.links-da {
  text-align: center;
  background-color: #003480;
}

.links-da ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #003480;
}

.links-da li {
  display: inline-block;
  margin-right: 125px; /* Adjust the spacing between links as needed */
}

.links-da a {
  text-decoration: none;
  padding: 9px 10px; /* Adjust the padding as needed */
  opacity: 0.75% #ff0878;
  font-size: 14px;
}


.viswa-hero-section {
	height: 100%;
	width: 100%;
  top:0px;
  margin-top: 5%;
  margin-left: 10%;
	justify-content: center;
	/* min-height: 100vh; */
  margin-bottom: 30px;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
}


.hero-text h5 {
	font-size: 14px;
	font-weight: 400;
	color: #140e0e;
	margin-bottom: 20px;
}

.hero-text h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 90px;
	line-height: 1;
	color: #042c71;
  /* color: #008778; */
	margin: 0 0 45px;
  overflow-y: hidden;
}

.hero-text h4 {
	font-size: 18px;
	font-weight: 600;
	color: #090707;
	margin-bottom: 10px;
}

.hero-text p {
	color: #000000;
	font-size: 15px;
	line-height: 1.9;
	margin-bottom: 40px;
}



.hero-text a.ctaa {
	background-color: #008778 ;
  border-radius: 25px;
  width: 100px;
  padding: 10px;
	/* border: 1px solid #000000; */
	margin: 10px;
  color: #fff;
  text-decoration: none;  
  text-align: center;
}
.hero-text a.ctaa i {
	vertical-align: middle;
	margin-right: 5px;
}



.hero-landing-img img {
	width: 480px;
	height: auto;
	padding: 10px;
  z-index: 1000001;
	
	border-radius: 90px;
}

.hero-landing-img {
	position: relative;
	width: 505px;
	height: 505px;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}

.hero-landing-img::before {
	content: '';
	position: absolute;
	z-index: 10002;
	/* padding-left: 10px; */
	width: 150px;
	height: 140%;
	background: linear-gradient(#353A3C, #000);
	animation: animate 4s linear infinite;
}
@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.hero-landing-img::after {
	content: '';
	position: absolute;
	background: white;
	inset: 5px;
	border-radius: 50px;
}


.hero-location{
  /* background-image: linear-gradient(to bottom right,rgba(25, 84, 123, 1),rgba(69, 104, 220, 1)); */
  /* background-color:#008778; */
  background-image: linear-gradient(to bottom right,rgba(25, 84, 123, 1),rgb(0, 135, 120,1));
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin-bottom:10px;
  padding: 0% 0% 0% 0%;
}



.hero-location h1 {
display: block;
font-size: 2em;
margin-block-start: 0.67em;
margin-block-end: 0.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}

fieldset {
display: block;
margin-inline-start: 2px;
margin-inline-end: 2px;
padding-block-start: 0.35em;
padding-inline-start: 0.75em;
padding-inline-end: 0.75em;
padding-block-end: 0.625em;
min-inline-size: min-content;
border-width: 2px;
border-style: groove;
border-color: rgb(192, 192, 192);
border-image: initial;
}


fieldset {
margin: 0;
padding: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
-webkit-padding-before: 0;
-webkit-padding-start: 0;
-webkit-padding-end: 0;
-webkit-padding-after: 0;
border: 0;
align-items:center;
}


fieldset {
padding-top:0.35em;
padding-left: 4rem;
padding-right: 4rem;
width: 100%;
/* padding: 0.35em 0.75em 0.625em; */
}

legend {
box-sizing: border-box;
color: inherit;
display: table;
max-width: 100%;
padding: 12% 0% 5% 0%;
white-space: normal;
font-size:40px;
}

.s006 form .inner-form {
width: 100%;
margin-bottom: 17px;
}

.s006 form .inner-form .input-field {
  margin-bottom: 20px;
  height: 50px;
}
.s006 form .inner-form .input-field {
height: 70px;
width: 100%;
position: relative;
}

.s006 form .inner-form .input-field .btn-search {
width: 70px;
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
position: absolute;
left: 0;
height: 100%;
background: 0 0;
border: 0;
padding: 0% 0% 4% 0%;
cursor: pointer;
display: flex;
-ms-flex-pack: center;
justify-content: center;
align-items: center;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}